/* your styles go here */
.pb-4, .py-4 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

footer.main-footer {
    padding: 0;
}

footer.main-footer .copyrights {
    padding-top: 24px;
    margin-top: 0;
}